*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
**/build/
*.apk
*.aab
/captures
.externalNativeBuild
**/.cxx/
/.idea
/manager/signing.properties
/out
/signing.properties
/.kotlin
*.zip